# dev VM
.vagrant

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coveragerc
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints

# IDE
.idea
.vscode

# Local backend config file
local.config

# Protected credentials
secrets.config

documentation/frontend/

# Version file generated during GoCD build
backend/version.json

# Frontend test output
frontend/reports
frontend/integration_tests.xml
frontend/test-results/
frontend/test/e2e/metrics_journey/screenshots

# Backend test output
backend/results.xml

# Temp ignore this dir
backend/uploads/

# Temp Excel files
*~*.xlsx

# Mac Specific
.DS_Store

# Terraform Keys
terraform/keys/
**/.terraform/
terraform/states/
terraform/**/*.tfstate*
terraform/**/*.zip
